@font-face {
    font-family: Outfit-700;
    src: url('./fonts/Outfit-Medium.ttf');
    font-weight: 700
}

@font-face {
    font-family: Outfit-400;
    src: url('./fonts/Outfit-Medium.ttf');
    font-weight: 400
}

body {
    font-family: Outfit-400;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: 497px;
}