@font-face {
    font-family: Outfit-700;
    src: url('./fonts/Outfit-VariableFont_wght.ttf');
    font-weight: 700
}

@font-face {
    font-family: Outfit-400;
    src: url('./fonts/Outfit-VariableFont_wght.ttf');
    font-weight: 400
}

body {
    font-family: Outfit-400;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.938rem;
    text-align: center;
}

h2 {
    font-family: Outfit-700;
    font-weight: 400;
    font-size: 1.375rem;
    margin: 16px;
}

p {
    margin-top: 16px;
    padding-inline: 32px;
    color: hsl(220, 15%, 55%);
}

.card {
    background-color: hsl(0, 0%, 100%);
    max-width: 20rem;
    padding: 16px;
    border-radius: 20px;
}

.qr-image {
    display: block;
    max-width: 100%;
    border-radius: 20px;
}